In [1]:
print("this is farizkos file")

this is farizkos file

<h1>Data Science Tools and Ecosystem</h1>

<h3>In this notebook, Data Science Tools and Ecosystem are summarized.</h3>

<b>with key takeaways as below:</b>
<ul>
    <li>Programming languages: Python and R are the two most commonly used languages in data science</li>
    <li>Machine Learning Libraries: Libraries such as Scikit-learn, TensorFlow, PyTorch in Python have made it easier to implement machine learning models</li>
    <li>Data Visualization Tools: Matplotlib and Seaborn in Python, and ggplot2 in R are popular for creating static and aesthetic graphs.</li>
</ul>

Some of the popular languages that Data Scientists use are:

<ol>
    <li>python</li>
    <li>R</li>
    <li>noSQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow</li>
    <li>NumPy</li>
    <li>SciPy</li>
    <li>Pandas</li>
</ol>

There are several data science tools:
<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <th>Tableau</th>
    </tr>
    <tr>
        <th>Matlab</th>
    </tr>
    <tr>
        <th>Python</th>
    </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
print(200/60," hours")

3.3333333333333335  hours

<h2>Author</h2>
Muhammad Farizko Nurditama